* {
	box-sizing: border-box;
}

html, body, div, span, h1, h3, p, a, img, ul, li, article, footer, header, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}

article, footer, header, nav, section {
	display: block;
}

html, body {
	line-height: 1;
	background: url("img/sample-pattern.png") repeat center bottom;
  	background-attachment: fixed;
}

ul {
	list-style: none;
}

nav {
	text-align: right;
}

#header {
	height: 3.5em;
	left: 0;
	line-height: 3.5em;
	top: 0;
	background-color: #FFF;
  	border-bottom: 1px groove;
  	width: 100%;
  	position: fixed;
  	z-index: 100;
}
	#header img {
		height: inherit;
		line-height: inherit;
		margin: 0;
		position: absolute;
		top: 0;
	}

	#header nav {
		position: absolute;
		right: 1em;
		top: 0;
	}

	#header nav ul a li {
		display: inline-block;
		margin-left: 1em;
	}

li {
	color: blue;
	display: inline-block;
 	font-size: 16px;
 	font-weight: 300;
}

h1 {
  	color: black;
  	font-size: 64px;
  	font-weight: 600;
  	text-align: center;
}

h3 {
	color: blue;
  	text-align: left;
  	font-weight: 300;
  	padding: 0 10px;
}

a {
	text-decoration: none;
}

#featured {
	margin: 120px 0 0 0;
}

#article-list {
 	margin: 70px auto;
 	width: 65%;
 	background-color: #FFF;
}

article {
	padding: 30px 10px;
	border: 1px ridge;
}

article p {
	padding: 15px 10px 0 10px;
}

footer {
	background-color: #333;
	color: #fff;
	padding: 10px 0;
}

footer h5 {
	text-align: center;
}